body {
    background-image: url("https://images.pexels.com/photos/136739/pexels-photo-136739.jpeg?cs=srgb&dl=pexels-scott-webb-136739.jpg&fm=jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}
.container{
    background-color: white;
    margin: auto;
    max-width: 80%;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
div{
    max-width: 100%;
}
#increment-btn {
    background: blue;
}

#save-btn {
    background: rgb(61, 202, 0);
}

